.elementor-control-type-choose .elementor-control-content,
.elementor-control-type-choose .elementor-control-content .elementor-control-field {
	display: block;
}

.elementor-control-type-choose .elementor-control-content .elementor-control-field .elementor-control-input-wrapper {
	display:    block;
	width:      100%;
	margin-top: 15px;
}

.elementor-control-type-choose .elementor-control-content .elementor-control-field .elementor-control-input-wrapper .elementor-choices {
	display: block;
	height:  auto;
}

.elementor-control-type-choose .elementor-control-content .elementor-control-field .elementor-control-input-wrapper .elementor-choices .elementor-choices-label {
	display:       block;
	width:         100%;
	border:        2px solid #d5dadf;
	margin-bottom: 5px;
	border-radius: 0;
}

.elementor-control-type-choose .elementor-control-content .elementor-control-field .elementor-control-input-wrapper .elementor-choices .elementor-choices-label .elementor-screen-only {
	position: static;
}

.elementor-control-type-choose .elementor-control-content .elementor-control-field .elementor-control-input-wrapper .elementor-choices input:checked + .elementor-choices-label {
	border-color: red !important;
}